{% load static %}
{% block content %}
    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'bootstrap.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'Home.css' %}" rel="stylesheet">
 <!-- Navbar Start -->
    {% include 'navbar.html' %}
    <!-- Navbar End -->
<div class="col-lg-6">
                    <div class="bg-light text-center rounded p-5">
                        <h1 class="mb-4">My Account</h1>
                        <form method="POST" action="">
                            {% csrf_token %}

<!--                            <div class="row g-3">-->
<!--                                <div class="col-12 col-sm-6">-->
<!--                                    <input type="text" class="form-control bg-white border-0" placeholder="username" name="username" value="{{request.user}}" style="height: 55px;">-->
<!--                                </div>-->
<!--                                <div class="col-12 col-sm-6">-->
<!--                                    <input type="text" class="form-control bg-white border-0" placeholder="Email" name="email"  value="{{request.user.email}}" style="height: 55px;">-->
<!--                                </div>-->
<!--                                <div class="col-12">-->
<!--                                    <button class="btn btn-primary w-100 py-3" type="submit">Save</button>-->
<!--                                </div>-->
                            <div class="input-group mb-3">
							<div class="input-group-append" >
                                <label>Username</label>
							</div>
                                <div style="margin-left:50px;">
                                {{form.username}}
                                </div>
						    </div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<label>Email</label>
							</div>
                            <div style="margin-left:84px;">
							    {{form.email}}
                            </div>
						</div>
                            <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Submit</button>
                                </div>

                        </form>

                        </div>
                    </div>

    {% endblock content %}